/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

:root {
  --primary-color: #f6cf53;
  --secondary-color: #565d36;
  --font-color: #212625;
  --bg-color: #efefe8;
  --heading-color: #212625;
}

[data-theme="dark"] {
  --primary-color: #f6cf53;
  --secondary-color: #c44c32;
  --font-color: #efefe8;
  --bg-color: #212625;
  --heading-color: #212625;
}

html {
  background: var(--bg-color);
  box-sizing: border-box;
  color: var(--font-color);
  font-size: 1em;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Arial,
    sans-serif;
  line-height: 1.4;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #c44c32;
  color: var(--font-color);
  text-shadow: none;
}

::selection {
  background: #c44c32;
  color: var(--font-color);
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   custom styles
   ========================================================================== */
a {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--primary-color);
  text-decoration: none;
}

a:not([class]):hover {
  background: var(--primary-color);
  color: #212625;
  text-shadow: none;
}

nav {
  font-size: 1.25em;
  margin: 2em auto 0;
  text-align: right;
  width: 100%;
}

nav a {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--primary-color);
  margin-right: 1em;
  text-decoration: none;
}

section {
  margin: 2em auto 0;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  width: 90%;
}

.title {
  color: var(--heading-color);
  display: block;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Arial,
    sans-serif;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 2em;
  width: 100%;
}

.title span {
  background: var(--primary-color);
}

main {
  align-self: flex-start;
  color: var(--font-color);
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 2.5em;
  padding-bottom: 1em;
  text-align: left;
  max-width: 50%;
}

aside {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

aside a {
  font-size: 1.25em;
  margin: 2em 0;
}

.image-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3em;
  padding-top: 1em;
  width: 100%;
}

.image-links a {
  border-bottom: none;
  margin-bottom: 2.5em;
}

.esfiddle__logo {
  background: #3b3b3b;
  height: 180px;
  width: 270px;
}

.esfiddle__logo img {
  height: 180px;
}

.fiad__logo img {
  height: 180px;
  width: 270px;
}

.hx__logo {
  align-items: center;
  background-color: #1b7ffc;
  display: flex;
  height: 180px;
  width: 270px;
}

.hx__logo img {
  margin: 0 auto;
  width: 90%;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 2.125em;
  position: relative;
  width: 3.75em;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--secondary-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 1px;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
  .links a {
    margin-bottom: 0px;
  }

  nav {
    width: 90%;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    background: transparent !important;
    color: #000 !important;
    margin: 0;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
